{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2>Bienvenido a Wolf's Unlock Game</h2>
<p>Usa el menú para visitar otras páginas con contenido dinámico.</p>
<p>anuncio reciente</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Ut2y8gAv3aY?si=hkKCp-qAwXfJfoUt" title="YouTube video player" frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
